/* ============================================
   CSS RESET
   ============================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* FONTS */
@font-face {
  font-family: "Cormorant Garamond";
  font-display: auto;
  src: local("Cormorant Garamond"),
    url("../Fonts/CormorantGaramond-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "HerrVonMuellerhoff-Regular.ttf";
  font-display: auto;
  src: local("HerrVonMuellerhoff-Regular.ttf"),
    url("../Fonts/HerrVonMuellerhoff-Regular.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "HerrVonMuellerhoff-Regular.ttf";
  font-size: 12vw;
  letter-spacing: 3vw;
  padding-bottom: 6vh;
  margin-bottom: 5vh;
  color: rgba(255, 255, 255, 0.579);
}

p {
  font-family: "Cormorant Garamond";
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 50px;
  letter-spacing: 10px;
  padding: 30px;
  margin-left: 90px;
  margin-right: 90px;
}
