/* FOOTER */
.footer {
  background-color: #333333e3;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name {
  margin-top: 9px;
  font-family: "ChamperlainDemo.Regular.ttf";
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.instagram-link {
  text-decoration: none;
  color: white;
  margin-top: 9px;
  padding-left: 10px;
}

.instagram-icon {
  font-size: 24px;
}
