body {
  background-image: url("/src/assets/steve-johnson-YS0YJLU_h2k-unsplash.jpg");
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  text-decoration: none;
  margin: 10px;
  color: black;
  text-align: center;
}
