@font-face {
  font-family: "Roughmarker";
  src: local("Roughmarker"),
    url("../src/Fonts//Roughmarker.ttf") format("truetype");
  font-family: "BeautySleepDemoRegular.ttf";
  src: local("BeautySleepDemoRegular.ttf"),
    url("../src/Fonts/BeautySleepDemoRegular.ttf");
}

body {
  background-image: url("/src/assets/steve-johnson-YS0YJLU_h2k-unsplash.jpg");
  /* background-color: rgb(212, 206, 198); */
}

h2 {
  text-align: center;
  font-family: "Roughmarker";
  font-size: 25px;
  letter-spacing: 2px;
}
h1 {
  text-align: center;
  font-family: "Roughmarker";
  font-size: 250px;
  letter-spacing: 35px;
  padding-bottom: 60px;
  margin-bottom: 140px;
  color: rgba(255, 255, 255, 0.579);
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.img-gallery {
  width: 400px;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.links-container {
  display: flex;
  flex-direction: row; /* Display links in a row */
  justify-content: center;
}

.links {
  text-decoration: none;
  margin: 10px;
  padding: 20px;
  color: rgb(68, 62, 62);
  text-align: center;
  font-family: "ChamperlainDemo.Regular.ttf";
  font-size: 30px;
}

img {
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../src/assets/022B920C-5501-4C99-874C-13D273693215.jpeg")
    no-repeat center/100% auto;
}

.centered-image {
  max-width: 100%; /* Ensure the image fits within its container */
  max-height: 100%; /* Ensure the image fits within its container */
}

/* Footer.css */

.footer {
  background-color: #33333366;
  color: white;
  padding: 8px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name {
  margin-top: 20px;
  font-family: "ChamperlainDemo.Regular.ttf";
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.instagram-link {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  padding-left: 10px;
}

.instagram-icon {
  font-size: 24px;
}
